body {
  background-color: lavender;
}

h1 {
  display: flex;
  justify-content: center;
  color: plum;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
}

button {
}